body {
	font-family: 'Open+Sans', sans-serif;
	background: #c2c2c2;
	width: auto;
	height: auto;
}

#logo {
	display: block;
	height: 2em;
	padding: 20px;
}

.inicio,
#monito {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.letrasErradas {
	display: flex;
	justify-content: center;
}

#erradas {
	resize: none;
	max-width: 450px;
	max-height: 50px;
	background: transparent;
	border: none;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	padding: 20px;
}
#play {
	width: 250px;
	height: 80px;
	border-radius: 16px;
	margin: 15em auto 3em;
	border: 2px solid #0a3871;
	background: #0a3871;
	color: white;
	cursor: pointer;
}

#newWord {
	width: 220px;
	height: 50px;
	border-radius: 16px;
	margin: 0 auto 14em;
	border: 2px solid #0a3871;
	color: blue;
	cursor: pointer;
}

.word,
.botones {
	width: 485px;
	margin: 0 auto;
}

#nuevapalabra {
	font-size: 2em;
	line-height: 150%;
	margin: 10% auto 20px;
	padding-bottom: 30%;
	color: black;
	width: 80%;
	height: auto;
	background: transparent;
	border-color: transparent;
	resize: none;
}

.advertencia {
	padding: 10px;
	margin-left: 10px;
	font-size: small;
	color: white;
	height: 15px;
}

#saveContinue,
#cancelar,
#newGame,
#desist {
	margin: 0 auto 30px;
	width: 220px;
	height: 50px;
	border-radius: 16px;
	margin: 0 10px 40px;
	border: 2px solid #0a3871;
	color: blue;
	cursor: pointer;
}

#saveContinue,
#newGame {
	background: #0a3871;
	color: white;
}

#palabras {
	width: 480px;
	background: transparent;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

footer {
	text-align: center;
	background: url(Imagenes/bg.jpg);
	padding: 10px;
}

.rojo {
	color: red;
}

.copyrigth {
	color: #ffffff;
	font-size: 13px;
	margin: 5px;
}

@media screen and (max-width: 480px) {
	body {
		width: auto;
	}
}
